.pageSet {
  display: flex;
  flex-direction: row;
  width: 90vw;
}

.internalPageLeft {
  background-color: #ffffff;
  color: #785e3a;
  border: 1px solid #c2b5a3;
  overflow: hidden;
  margin-left: 15px;
  height: 100vh;
  width: calc(50vw - 130px);
}

.pageStackLeft {
  background-image: repeating-linear-gradient(
    90deg,
    #ffffff,
    #ffffff 3px,
    #785e3a 3px,
    #785e3a 3.5px /* determines size */
  );
  border: 1px solid #c2b5a3;
  border-radius: 15px 0px 0px 15px;
  margin-left: 15px;
  height: 100vh;
  width: 10px;
  float: left;
}

.pageStackRight {
  background-image: repeating-linear-gradient(
    90deg,
    #ffffff,
    #ffffff 3px,
    #785e3a 3px,
    #785e3a 3.5px /* determines size */
  );
  border: 1px solid #c2b5a3;
  border-radius: 0px 15px 15px 0px;
  height: 100vh;
  width: 10px;
  float: right;
  margin-right: 16px;
}

.internalPageRight {
  background-color: #ffffff;
  color: #785e3a;
  border: 1px solid #c2b5a3;
  overflow: hidden;
  height: 100vh;
  width: calc(50vw - 130px);
}

.externalPage {
  background-color: #28464e;
}

.recipeTitle {
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 30px;
  color: black;
  margin-bottom: 10px;
}

.recipeHeader {
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 10px;
  width: 100%;
  font-size: 22px;
  text-align: center;
  font-weight: 300;
  color: black;
}

.titleBreak {
  width: calc(50vw - 200px);
  height: 1px;
  color: black;
  background-color: black;
}

.pageWrapper {
  display: flex;
  flex-direction: row;
  width: calc(50vw - 200px);
  padding-left: 33px;
  color: black;

  .leftPagePart {
    padding-top: 0.5vw;
    width: calc(20vw - 100px);
    padding-right: 20px;
  }
  .rightPagePart {
    padding-top: 0.5vw;
    width: calc(30vw - 100px);
    table {
      border-collapse: collapse;
      width: 100%;
      text-align: center;
    }
    .tableTitle {
      background-color: #dddddd;
    }
    .rightBreak {
      width: calc(30vw - 100px);
      height: 0.5px;
      color: black;
      background-color: black;
    }
    .recipeImage {
      width: calc(30vw - 100px);
      height: 35vh;
      object-fit: contain;
    }
  }
}

.bottomButtons{
  display: flex;
  flex-direction: row;
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 10px;
}

.bottomOfPage {
  padding-top: 10px;
  padding-right: 33px;
  padding-left: 33px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}
